body {
    padding: 0%;
    margin: 0%;
    background-color: bisque;
}

.header {
    height: 32rem;
    background-image: linear-gradient(rgb(0 0 0 / 67%), rgb(0 0 0 / 35%)), url(header4.jpg);
    background-size: cover;
}

.navbar {
    display: flex;
}

.navbar p {
    margin-left: 160px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: rgb(255, 255, 255);
    font-size: 35px;
    margin-right: -80px;
    color: #ff5656;
}

.navbar .Sign-In {
    margin-left: 65rem;
    width: 100px;
    height: 40px;
    align-self: center;
    background-color: #ff5656;
    color: rgb(255, 355, 255);
    font-size: large;
    font-weight: 600;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

.header-content {
    margin-top: 8rem;
}

.header-content .name {
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    font-weight: 800;
    text-align: center;
}

.header-content .sub-text {
    color: rgb(255, 255, 255);
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    font-size: 25px;
    margin-top: -30px;
}

.header-content .search {
    display: flex;
    justify-content: center;
}

.header-content .search input {
    width: 20rem;
    height: 50px;
    font-size: 25px;
    font-weight: bold;
    border: none;
    background-color: #ffffff38;
    border-radius: 8px;
    color: rgb(255, 255, 255);
}

.header-content .search input::placeholder {
    color: #acacac;
    font-size: 20px;
}

.header-content .search button {
    width: 7rem;
    margin-left: 5px;
    border: none;
    background-color: #ff5656;
    color: rgb(255, 255, 255);
    font-size: 20px;
    cursor: pointer;
    border-radius: 8px;
}

hr {
    height: 10px;
    background-color: #acacac;
    border: none;
    margin: 0%;
}

.box-1 {
    background-color: rgb(255, 255, 255);
    width: 57rem;
    height: 35rem;
    margin-left: 18rem;
    margin-top: 70px;
    border-radius: 25px;
    box-shadow: 5px 6px 20px 6px;
}

.box-1 .heading {
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    font-size: 45px;
    font-weight: 800;
    text-decoration: underline;
}

.ingredients {
    display: flex;
    justify-content: space-around;
}

.box-1 h2 {
    margin-left: 60px;
    font-family: 'Poppins', sans-serif;
}

.ingredients img {
    width: 15rem;
    border-radius: 25px;
    margin-top: -40px;
}

.box-1 .recipe p {
    margin-left: 60px;
    font-family: 'Poppins', sans-serif;
}

.box-1 li {
    font-family: 'Poppins', sans-serif;
}

.box-1 a {
    text-decoration: none;
    font-size: large;
}

.box-1 .read-more {
    text-align: center;
}

.box-2 {
    background-color: rgb(255, 255, 255);
    width: 57rem;
    height: 35rem;
    margin-left: 18rem;
    margin-top: 70px;
    border-radius: 25px;
    box-shadow: 5px 6px 20px 6px;
}

.box-2 .heading {
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    font-size: 45px;
    font-weight: 800;
    text-decoration: underline;
}

.box-2 h2 {
    margin-left: 60px;
    font-family: 'Poppins', sans-serif;
}

.box-2 .recipe-2 p {
    margin-left: 60px;
    font-family: 'Poppins', sans-serif;
}

.box-1 li {
    font-family: 'Poppins', sans-serif;
}

.box-2 h2 {
    margin-top: -10px;
}

.box-2 a {
    text-decoration: none;
    font-size: large;
}

.box-2 .read-more {
    text-align: center;
}

.footer {
    background-color: #121212;
    height: 300px;
    margin-top: 65px;
}

.footer h1 {
    color: #cbcbcb;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding-top: 20px;
    text-transform: uppercase;
}

.footer .list{
    display: flex;
    justify-content: space-around;
}

.footer .list li{
    list-style: none;
    margin-top: 10px;
}

.footer .list li a{
    text-decoration: none;
    color: #cbcbcb;
    font-family: 'PT Sans', sans-serif;

}

.footer .list li a:hover{
    color: #ff5656;
}